@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Padauk:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    counter-reset: recordIndex;
}

.td-counter::before{
    counter-increment: recordIndex;
    content: counter(recordIndex);
}