* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  border: 5px solid black;
  perspective: 8in;
  perspective-origin: center;
}

.poe {
  display: block;
  width: 200px;
  transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  transform-origin: 0% 0%;

  /* transform: translateX(-60px) translateY(-100px); */
  /* translate: 50px 100px; */
  /* transform: rotate(-10deg); */
  /* rotate: -10deg; */
  /* transform: scale(1.5); */
  /* transform: scaleX(1.5); */
  /* transform: scaleY(1.5); */
  /* scale: 0.6; */
  /* transform: skewY(10deg); */

  /* transform: rotateX(0deg) rotateY(0deg) rotateZ(15deg); */
}
